/Week1/ConversaoCelsiusFahrenheit/nbproject/private/
/Week1/ConversaoCelsiusFahrenheit/build/
/Week1/FunctionalTestWeek1/nbproject/private/
/Week1/FunctionalTestWeek1/build/
/Week1/Test/nbproject/private/
/Week1/Test/build/
/Week1/Tests/nbproject/private/
/Week1/Tests/build/
/Week1/FunctionalTests/nbproject/private/
/Week1/FunctionalTests/build/
/Week1/FunctionalTests/dist/
/Week1/OlaTeste/nbproject/private/
/Week1/OlaTeste/build/
/Week2/Translator/nbproject/private/
/Week2/Translator/build/
/Week2/teste/nbproject/private/
/Week2/teste/build/
/Week2/Translator/dist/